<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vidasnoaltarmda.celulas" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activities.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.RegistrarActivity"
            android:label="@string/title_activity_registrar" >
        </activity>
        <activity
            android:name=".Activities.PrincipalActivity"
            android:label="@string/title_activity_principal" >
        </activity>
        <activity
            android:name=".Activities.RoteiroActivity"
            android:label="@string/title_activity_roteiro" >
        </activity>
        <activity
            android:name=".Activities.ProgramacaoActivity"
            android:label="@string/title_activity_programacao" >
        </activity>
        <activity
            android:name=".Activities.ProgramacaoSelecionadaActivity"
            android:label="@string/title_activity_programacao_selecionada" >
        </activity>
        <activity
            android:name=".Activities.AniversariantesActivity"
            android:label="@string/title_activity_aniversariantes" >
        </activity>
        <activity
        android:name=".Activities.AvisoActivity"
        android:label="@string/tittle_activity_aviso" >
    </activity>
        <activity
            android:name=".Activities.CelulaActivity"
            android:label="@string/tittle_activity_celula" >
        </activity>
    </application>

</manifest>
